
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.egg-info/

# Data
data/raw/**
data/processed/**
data/tiles/**

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# Credentials
.netrc
.env
/data/compare
/data/features
/data
